@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="main-menu">
    <header class="header">
        <a asp-area="Admin" asp-controller="Home" class="logo">Admin</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <!-- /.header -->
    <div class="content">

        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="menu-icon mdi mdi-view-dashboard"></i><span>Trang chủ</span></a>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" ><i class="menu-icon mdi mdi-flower"></i><span>Quản lý đơn hàng</span><span class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                       
                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect" ><i class="menu-icon mdi mdi-calendar-multiple"></i><span>Quản lý khách hàng</span><span class="menu-arrow fa fa-angle-down"></span></a>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-account-box"></i><span>Quản lý tài khoản</span><span class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Tài khoản nhân viên</a></li>
   
                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-cube-outline"></i><span>Quản lý sản phẩm</span><span class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Quản lý sản phẩm</a></li>
                        <li><a asp-area="Admin" asp-controller="AdminProducers" asp-action="Index">Quản lý nhà sản xuất</a></li>
                        <li><a asp-area="Admin" asp-controller="AdminStatus" asp-action="Index">Quản lý trạng thái sản phẩm</a></li>

                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-buffer"></i><span>Quản lý danh mục</span><span class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Quản lý danh mục</a></li>

                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-buffer"></i><span>Quản lý bài viết</span><span class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a asp-area="Admin" asp-controller="AdminNews" asp-action="Index">Quản lý bài viết</a></li>

                    </ul>
                </li>


            </ul>
            <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
    </div>
    <!-- /.content -->
</div>
<!-- /.main-menu -->