@model WebApp_camera_laptop.Models.Category


@if (Model.Subcategories != null && Model.Subcategories.Any())
{
    <li><a href="product.html">@Model.CatName <i class="far fa-angle-down"></i></a></li>
    <ul class="mega-menu">
        @foreach (var subcategory in Model.Subcategories)
        {
            <li>
                <a href="product.html">@subcategory.CatName</a>    
            </li>
        }
    </ul>
}
else
{
    <li><a href="product.html">@Model.CatName <i class="far fa-angle-down"></i></a></li>
}

