@model WebApp_camera_laptop.Areas.Admin.ModelViews.ProductsAdminViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/assets/admin/sumernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/assets/admin/sumernote/summernote.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
@*    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />*@
    

}
<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý sản phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Thêm sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-xs-12">
    <div class="box-content">
        <h4 class="box-title">Form nhập thông tin sản phẩm</h4>
        <!-- /.box-title -->
        <!-- /.dropdown js__dropdown -->
        <form asp-controller="AdminProducts" asp-action="Create" method="post" enctype="multipart/form-data">
            <div id="tabsleft" class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a class="nav-link" href="#tabsleft-tab1" data-toggle="tab">Thông tin sản phẩm</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tabsleft-tab2" data-toggle="tab">Cấu hình sản phẩm</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tabsleft-tab3" data-toggle="tab">Mô tả sản phẩm</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabsleft-tab1">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailfield">Tên sản phẩm</label>
                                <div class="controls">
                                    <input type="text" asp-for="ProductName" class="form-control">
                                    <span class="text-danger" asp-validation-for="ProductName"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailfield">Danh mục</label> 
                                    <select class="form-control select2_1" asp-for="ProductCategories" asp-items="ViewBag.CatId" multiple="multiple">
                                    </select>
                                <span class="text-danger" asp-validation-for="ProductCategories"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="namefield">Giá bán</label>
                                <div class="controls">
                                    <input type="number" asp-for="Price" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="namefield">Giá giảm</label>
                                <div class="controls">
                                    <input type="number" asp-for="Discount" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailfield">Số lượng sản phẩm</label>
                                <div class="controls">
                                    <input type="number" asp-for="UnitslnStock" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailfield">Trạng thái sản phẩm</label>
                                <select class="form-control" asp-for="StatusId" asp-items="ViewBag.StatusId">
                                    <option value="" disabled selected>Chọn trạng thái</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailfield">Mô tả ngắn sản phẩm</label>
                                <div class="controls">
                                    <textarea type="text" asp-for="ShortDesc" class="form-control"></textarea>
                                    <span class="text-danger" asp-validation-for="ShortDesc"></span>

                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailfield">Nhà sản xuất</label>
                                <select class="form-control" asp-for="ProducerId" asp-items="ViewBag.ProducerId">
                                    <option value="" disabled selected>Chọn nhà sản xuất</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Ảnh</label>

                            @*<div class="dropzone" id="myDropzone" onclick="browseFile()">
                    <div class="fallback">
                            <input  type="file" multiple name="fThumb" id="fThumb"  />
                        </div>
                </div>*@
                            <input type="file" multiple name="fThumb" asp-for="Thumb" />
                        </div>
                        <div class="form-group">
                            <div class="switch primary">
                                <input type="checkbox" asp-for="Active" checked>
                                <label for="Active" >Hoạt động</label>
                            </div>
                            <div class="switch primary">
                                <input type="checkbox" asp-for="HomeFlag">
                                <label for="HomeFlag">Hiển thị ở trang chủ</label>
                            </div>
                            <div class="switch primary">
                                <input type="checkbox" asp-for="BestSellers">
                                <label for="BestSellers">Sản phẩm bán chạy</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabsleft-tab2">
                        <div class="card">
                            <div class="card-body">
                                <textarea class="summernote" asp-for="Configuration"></textarea>
                            </div>
                        </div>
                       

                    </div>
                    <div class="tab-pane" id="tabsleft-tab3">
                        <div class="card">
                            <div class="card-body">
                                <textarea class="summernote" asp-for="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Tạo mới</button>
                <button asp-action="Index" class="btn btn-default">Quay lại</button>
            </div>
        </form>
    </div>

</div>


@section Scripts{
    @*<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/assets/admin/sumernote/summernote-bs4.js"></script>
   
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });

    </script>
   @* <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            var myDropzone = new Dropzone("#myDropzone", {
                url: "/Upload",
                paramName: "fThumb",
                addRemoveLinks: true,
                dictRemoveFile: "Remove",
                removedfile: function (file) {
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : null;
                },
                success: function (file, response) {
                    console.log(response);
                }
            });
        });
    </script>*@
}
