@model WebApp_camera_laptop.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestSellers" class="control-label"></label>
                <input asp-for="BestSellers" class="form-control" />
                <span asp-validation-for="BestSellers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeFlag" class="control-label"></label>
                <input asp-for="HomeFlag" class="form-control" />
                <span asp-validation-for="HomeFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDesc" class="control-label"></label>
                <input asp-for="MetaDesc" class="form-control" />
                <span asp-validation-for="MetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKey" class="control-label"></label>
                <input asp-for="MetaKey" class="form-control" />
                <span asp-validation-for="MetaKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitslnStock" class="control-label"></label>
                <input asp-for="UnitslnStock" class="form-control" />
                <span asp-validation-for="UnitslnStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProducerId" class="control-label"></label>
                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.ProducerId"></select>
                <span asp-validation-for="ProducerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpu" class="control-label"></label>
                <input asp-for="Cpu" class="form-control" />
                <span asp-validation-for="Cpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HardDrive" class="control-label"></label>
                <input asp-for="HardDrive" class="form-control" />
                <span asp-validation-for="HardDrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraphicCard" class="control-label"></label>
                <input asp-for="GraphicCard" class="form-control" />
                <span asp-validation-for="GraphicCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screen" class="control-label"></label>
                <input asp-for="Screen" class="form-control" />
                <span asp-validation-for="Screen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeCameraId" class="control-label"></label>
                <input asp-for="TypeCameraId" class="form-control" />
                <span asp-validation-for="TypeCameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resoluton" class="control-label"></label>
                <input asp-for="Resoluton" class="form-control" />
                <span asp-validation-for="Resoluton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraAngle" class="control-label"></label>
                <input asp-for="CameraAngle" class="form-control" />
                <span asp-validation-for="CameraAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storege" class="control-label"></label>
                <input asp-for="Storege" class="form-control" />
                <span asp-validation-for="Storege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarInfraredVision" class="control-label"></label>
                <input asp-for="FarInfraredVision" class="form-control" />
                <span asp-validation-for="FarInfraredVision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceSupport" class="control-label"></label>
                <input asp-for="DeviceSupport" class="form-control" />
                <span asp-validation-for="DeviceSupport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlPhone" class="control-label"></label>
                <input asp-for="ControlPhone" class="form-control" />
                <span asp-validation-for="ControlPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utilities" class="control-label"></label>
                <input asp-for="Utilities" class="form-control" />
                <span asp-validation-for="Utilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conversation" class="control-label"></label>
                <input asp-for="Conversation" class="form-control" />
                <span asp-validation-for="Conversation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adapter" class="control-label"></label>
                <input asp-for="Adapter" class="form-control" />
                <span asp-validation-for="Adapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputPower" class="control-label"></label>
                <input asp-for="InputPower" class="form-control" />
                <span asp-validation-for="InputPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

