@model WebApp_camera_laptop.Areas.Admin.ModelViews.NewsAdminViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/assets/admin/plugin/summernote/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/admin/plugin/summernote/css/summernote.min.css" rel="stylesheet">

}

<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý bài viết</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Thêm bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-xs-12">
    <div class="box-content">
        <h4 class="box-title">Form nhập thông tin bài viết</h4>
        <!-- /.box-title -->
        <!-- /.dropdown js__dropdown -->
        <form asp-controller="AdminNews" asp-action="Create" method="post" enctype="multipart/form-data">
            <div id="tabsleft" class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a class="nav-link" href="#tabsleft-tab1" data-toggle="tab">Thông tin bài viết</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tabsleft-tab2" data-toggle="tab">Nội dung bài viết</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabsleft-tab1">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailfield">Tiêu đề bài viết</label>
                                <div class="controls">
                                    <input type="text" asp-for="Title" class="form-control">
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailfield">Danh mục</label>
                                <select class="form-control select2_1" asp-for="CatId" asp-items="ViewBag.CatId">
                                </select>
                                <span class="text-danger" asp-validation-for="CatId"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="emailfield">Mô tả ngắn bài viết</label>
                                <div class="controls">
                                    <textarea type="text" asp-for="Scontents" class="form-control"></textarea>
                                    <span class="text-danger" asp-validation-for="Scontents"></span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Ảnh bìa</label>
                            <input type="file" multiple name="fThumb" asp-for="Thumb" />
                        </div>
                        <div class="form-group">
                            <div class="switch primary">
                                <input type="checkbox" asp-for="Published">
                                <label for="Published">Hoạt động</label>
                            </div>
                            <div class="switch primary">
                                <input type="checkbox" asp-for="IsNewfeed">
                                <label for="IsNewfeed">Hiển thị ở trang chủ</label>
                            </div>
                            <div class="switch primary">
                                <input type="checkbox" asp-for="IsHot">
                                <label for="IsHot">Bài viết nổi bật</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabsleft-tab2">
                        <div class="card">
                            <div class="card-body">
                                <textarea class="summernote" asp-for="Contents"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Tạo mới</button>
                <button asp-action="Index" class="btn btn-default">Quay lại</button>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    <script src="~/assets/admin/plugin/summernote/js/jquery-3.5.1.min.js"></script>
    <script src="~/assets/admin/plugin/summernote/js/bootstrap.min.js"></script>
    <script src="~/assets/admin/plugin/summernote/js/summernote.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.summernote').summernote(
                {
                    height: 500,
                    toolbar: [

                        ['font', ['bold', 'italic', 'underline', 'clear']],
                        ['para', ['ul', 'ol']],
                        ['height', ['height']]
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['help']]
                    ],
                }
            );
        });
    </script>
   
}
