
@{
    ViewData["Title"] = "Chính sách bảo hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Chính sách bảo hành</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- about area start -->
    <section class="about__area box-plr-75 p-relative ">
        <div class="container-fluid">
            <div class="about__inner white-bg">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="about__wrapper">
                            <h1>Chính sách bảo hành</h1>
                            <p class="about__text">Chân thành cám ơn quý khách hàng, đã tin tưởng sử dụng sản phẩm và dịch vụ do công ty Công Nghệ Phương Vũ cung cấp. Mong quý khách hàng vui lòng tuân thủ các chính sách bảo hành sau đây để chúng tôi được phục vụ quý khách một cách tốt nhất, đồng thời đảm bảo quyền lợi chính đáng của chính quý khách về sau.</p>
                            <p class="about__text"><strong>Lưu ý: Các thiết bị bảo hành phải trong thời gian bảo hành và còn nguyên tem của Công Nghệ Phương Vũ</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- what area start -->
    <section class="why__area box-plr-75">
        <div class="container-fluid">
            <div class="why__inner pl-90 pr-90">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section__head mb-30">
                            <div class="section__title">
                                <h3>A. CHÍNH SÁCH BẢO HÀNH ĐỐI VỚI KHÁCH HÀNG LÀ ĐẠI LÝ, MUA TỰ LẮP ĐẶT – BẢO HÀNH TẠI CÔNG NGHỆ PHƯƠNG VŨ</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li><h4>1 – ĐIỀU KIỆN ĐƯỢC BẢO HÀNH</h4></li>
                        <li class="about__text"> – Được thay thế linh kiện miễn phí tương đương theo đúng chủng loại, linh kiện chính hãng.</li>
                        <li class="about__text"> – Sản phẩm hư hỏng được xác định do lỗi kỹ thuật của nhà sản xuất đối với từng nhãn hàng.</li>
                        <li class="about__text"> – Sản phẩm còn trong thời gian bảo hành, các thông tin như số hiệu sản xuất, kiểu máy, nhãn hiệu còn đầy đủ, rõ ràng, không bị chỉnh sửa, thay đổi bởi cá nhân hoặc đơn vị khác không do chỉ định của giám đốc công ty PHƯƠNG VŨ.</li>
                        <li class="about__text"> – Địa điểm nhận sản phẩm bảo hành tại trụ sở chính công ty Công Nghệ Phương Vũ .</li>
                    </ul>

                    <ul>
                        <li><h4>2 – NHỮNG TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH</h4></li>
                        <li class="about__text"> – Rách tem, bị tẩy xoá, chỉnh sửa hoặc bị dán chồng bằng tem khác, không rõ ngày tháng, có dấu hiệu bị can thiệp, sửa chữa không do kỹ thuật Công Nghệ Phương Vũ chỉ định. Tem giả mạo, không có tem do Công Nghệ Phương Vũ phát hành.</li>
                        <li class="about__text"> – Sản phẩm hư hỏng do thiên tai, hoả hoạn, cháy nổ, thấm nước, rỉ sét, côn trùng phá hoại.</li>
                        <li class="about__text"> – Sản phẩm hư hỏng do người sử dụng gây ra như biến dạng, rơi vỡ, trầy sướt, bể, đập phá, sử dụng sai nguồn điện,…. Do lắp đặt, bảo trì, sử dụng không tuân thủ theo sách hướng dẫn kỹ </li>
                        <li class="about__text">– Sản phẩm đã hết hạn bảo hành ghi trên tem dán trên sản phẩm.</li>
                        <li class="about__text"><strong>* Lưu ý: </strong> Quý khách giữ lại toàn bộ giấy tờ khi giao dịch với nhân viên của Công Nghệ Phương Vũ để đối chiếu khi cần thiết. Giữ sản phẩm mới  nguyên vẹn 100% như ban đầu để được hưởng chính sách 1 đổi 1 ngay chỉ có tại Công Nghệ Phương Vũ.</li>
                    </ul>

                  

                </div>
            </div>
            <div class="why__inner pl-90 pr-90">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section__head mb-30">
                            <div class="section__title">
                                <h3>B. CHÍNH SÁCH BẢO HÀNH ĐỐI VỚI KHÁCH HÀNG LÀ DỰ ÁN – BẢO HÀNH TẬN NƠI LẮP ĐẶT</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li><h4>1 – BẢO HÀNH TẬN NƠI MIỄN PHÍ HOÀN TOÀN</h4></li>
                        <li class="about__text"> – Sản phẩm hư hỏng đảm bảo nằm trong <strong>”ĐIỀU KIỆN ĐƯỢC BẢO HÀNH”</strong> Điều A mục 1.</li>
                        <li class="about__text"> – Hệ thống do Công Nghệ Phương Vũ cung cấp thiết bị và tổ chức lắp đặt theo tiêu chuẩn kỹ thuật của nhà sản xuất do các Kỹ sư, kỹ thuật viên thuộc Công ty Công Nghệ Phương Vũ thực hiện.</li>
                        <li class="about__text"> – Trong hệ thống không có bất kỳ thiết bị nào do khách hàng tự trang bị, tự cung cấp (ngoại trừ bắt buộc phải cung cấp từ bên thứ 3 mà sản phẩm đó không có tại Công Nghệ Phương Vũ.</li>
                    </ul>

                    <ul>
                        <li><h4>2 – KHÔNG ĐƯỢC BẢO HÀNH HOẶC CÓ TÍNH PHÍ DỊCH VỤ</h4></li>
                        <li class="about__text"> – Sản phẩm hư hỏng nằm trong  <strong>”NHỮNG TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH” </strong> Điều A mục 2.</li>
                        <li class="about__text"> – Hệ thống lắp đặt không tính phí dịch vụ lắp đặt và bảo hành tận nơi.</li>
                        <li class="about__text"> – Hệ thống có giá trị nhỏ dưới 5.000.000 vnđ.</li>
                        <li class="about__text"> – Không bảo hành hư hỏng do các thiết bị không do Công Nghệ Phương Vũ cung cấp, do nhà cung cấp mạng internet ,do khách hàng tự thay đổi Modem hay Reset cài đặt ban đầu.</li>
                        <li class="about__text"> – Có tính phí dịch vụ và phí thay thế linh kiện nếu sản phẩm hư hỏng do thiết bị của khách hàng tự trang bị gây lên.</li>
                        <li class="about__text"> – Khách hàng sử dụng không đúng sách hướng dẫn, và sai quy định của nhà sản xuất</li>
                        <li class="about__text"> – Hệ thống còn bảo hành nhưng thiết bị hoặc phụ kiện hư hỏng đã hết bảo hành thì được tính phí thay thế thiết bị hư hỏng hết bảo hành đó, và không tính phí khắc phục sự cố (Do còn thời hạn bảo hành tận nơi).</li>
                        <li class="about__text"><strong>*Lưu ý: </strong> Hệ thống sẽ không được bảo hành vĩnh viễn nếu khách hàng tự ý thay đổi lắp đặt ban đầu, được lắp thêm thêm thiết bị không do Công Nghệ Phương Vũ cung cấp. (Do khách hàng tự thỏa thuận với cá nhân, nhân viên hoặc đơn vị lắp thêm khác). Quý khách giữ lại tất cả giấy tờ khi giao dịch với nhân viên của Công Nghệ Phương Vũ để đối chiếu khi cần thiết, giữ lại số điện thoại báo hỏng và phản ánh chất lượng phục vụ khi cần. Số điện thoại được ghi trong phiếu công tác hoặc biên bản nghiệm thu và trên các giấy tờ khác có trong mỗi lần giao dịch với khách hàng</li>
                        <li class="about__text">Mọi thắc mắc, khiếu nại về vấn đề chính sách bảo hành như đổi hàng, bảo hành, quý khách vui lòng liên hệ số <strong>hotline 0344.591.592</strong> để được hỗ trợ tốt nhất</li>
                        <li class="about__text">Chúng tôi rất mong nhận được những ý kiến đóng góp, phản hồi của quý khách hàng về sản phẩm và phong cách phục vụ của các cán bộ, nhân viên trên toàn chi nhánh của chúng tôi nhằm nâng cao và hoàn thiện hơn nữa để ngày càng phục vụ quý khách hàng tốt hơn.</li>
                        <li class="about__text">Chân thành cám ơn sự tín nhiệm và hợp tác của quý khách hàng.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- what area end -->
</main>

