<header class="yellow-header">
    <div class="header__area">
        
        <div class="header__info" style="padding: 10px 0 10px 0;">
            
            <div class="container">
                
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-3">
                        <div class="header__info-left d-flex justify-content-center justify-content-sm-between align-items-center">
                            <div class="logo">
                                <a href="index.html"><img src="~/assets/template/img/logo/LGMAU.png" style="width: 13rem;" alt="logo" /></a>
                            </div>
                            <div style="width: 56%; ">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius: 10px 0px 0px 10px;" placeholder="Tìm kiếm sản phẩm..." />
                                        <div class="input-group-append" >
                                            <button class="btn btn-primary" style="background:#222;border-color: #222;border-radius: 0px 10px 10px 0px;" type="submit" id="search-button"><i class="fal fa-search"></i></button>
                                        </div>
                                    </div>                
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-9">
                        <div class="header__info-right">
                           
                            <div class="header__hotline align-items-center d-none d-sm-flex d-lg-none d-xl-flex">
                                <div class="header__hotline-icon">
                                    <i class="fal fa-headset"></i>
                                </div>
                                <div class="header__hotline-info">
                                    <span>Hotline Free:</span>
                                    <h6>06-900-6789-00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-6 col-6">
                        <div class="header__bottom-left d-flex d-xl-block align-items-center">
                            <div class="side-menu d-xl-none mr-20">
                                <button type="button" class="side-menu-btn side-menu-btn-2 offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                            </div>
                            <div class="main-menu main-menu-2 d-none d-md-block">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="index.html">Trang chủ <i class="far fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="index.html">Home Style 1</a></li>
                                                <li><a href="index-2.html">Home Style 2</a></li>
                                                <li><a href="index-3.html">Home Style 3</a></li>
                                                <li><a href="index-4.html">Home Style 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">Dự án</a>
                                            
                                        </li>
                                        <li><a href="#">Hướng dẫn kỹ thuật</a></li>

                                        <li><a href="#">Về chúng tôi</a></li>
                                        <li><a href="#">Liên hệ</a></li>
                                       
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                   @* <div class="col-xl-3 col-lg-3 col-sm-6 col-6 d-md-none d-lg-block">
                        <div class="header__bottom-right d-flex justify-content-end">
                            <div class="header__currency">
                                <select>
                                    <option>USD</option>
                                    <option>USD</option>
                                    <option>USD</option>
                                    <option>USD</option>
                                    <option>USD</option>
                                </select>
                            </div>
                            <div class="header__lang d-md-none d-lg-block">
                                <select>
                                    <option>English</option>
                                    <option>Bangla</option>
                                    <option>Arabic</option>
                                    <option>Hindi</option>
                                    <option>Urdu</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</header>